* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
  background: #fff;
  overflow-x: hidden;
}

/*
body {
  padding: 0.5rem 1rem;
}
*/

h2 {
  text-align: center;
  border-top: 0.2rem solid #e5e5e5;
  font-size: 1.4rem;
  margin-top: 0.9rem;
  margin-bottom: -0.9rem;
  color: #a6a6a6;
}

h2 span {
  position: relative;
  top: -0.9rem;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

#fake-splash-page > a {
  display: block;
}

#fake-splash-page .big {
  height: 41.6vw;
  background: no-repeat center / contain;
}

#fake-splash-page #color-star-trails {
  background-image: url(splash/bookmark_cards_1.png);
}

#fake-splash-page #calendar-google {
  background-image: url(splash/bookmark_cards_2.png);
}

#fake-splash-page #digg-sleepless {
  background-image: url(splash/bookmark_cards_3.png);
}

#fake-splash-page #maps-google {
  background-image: url(splash/bookmark_cards_4.png);
}

#fake-splash-page .small {
  background: no-repeat left / contain;
  height: 19vw;
  line-height: 19vw;
  vertical-align: middle;
  text-decoration: none;
  font-size: 5vw;
  font-style: italic;
  color: #727272;
  padding-left: 25vw;
  margin: 23px 0;
}

#fake-splash-page #go-transit {
  background-image: url(splash/bookmark_icon_1.png);
}

#fake-splash-page #weather-network {
  background-image: url(splash/bookmark_icon_2.png);
}

#fake-splash-page #kotaku {
  background-image: url(splash/bookmark_icon_3.png);
}

#fake-splash-page #restaurants-close {
  background-image: url(splash/bookmark_icon_4.png);
}

#fake-splash-page #team-liquid {
  background-image: url(splash/bookmark_icon_5.png);
}

#fake-splash-page #taylor-twitter {
  background-image: url(splash/twitter.png);
}

#fake-splash-page #google {
  background-image: url(splash/google.png);
}

#top-sites {
  overflow: auto;
  margin-top: 1rem;
}

#top-sites .top-site:nth-child(2n) {
  -moz-margin-start: 1rem;
}

.top-site {
  display: block;
  float: left;
  width: calc(50% - 0.5rem);
  height: 9rem;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(133,133,133, 0.8);
  box-sizing: border-box;
}

.top-site span {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-style: italic;
  display: block;
  width: 100%;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  padding: 0.2rem;
  pointer-events: none;
  color: #fff;
}

#history-header {
  margin-top: 2.1rem;
}

#history-header.hidden {
  display: none;
}

#history .result {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0.7rem;
  overflow: hidden;
  color: #4d4d4d;
}

#history .result * {
  pointer-events: none;
}

#history .result .description {
  width: calc(100% - 1.6rem);
}

#history .icon {
  margin-top: 0.3rem;
  margin-bottom: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0.8rem;
  display: block;
  flex: 0 0 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
}

#history .icon img {
  display: none;
  width: 100%;
  height: 100%;
}

#history .icon.empty {
  border: 0.1rem dashed #5A5A5A;
  border-radius: 0.2rem;
}

#history .meta {
  font-size: 1.2rem;
  color: #5f5f5f;
}

#history .title, #history .meta {
  display: block;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#history h3 {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  color: #858585;
  font-weight: normal;
  margin-top: 1rem;
}

/* RTL View */
html[dir="rtl"] .top-site {
  float: right;
}

/* Suggestions */
#offline-message {
  font-size: 1.4rem;
  font-style: italic;
  margin: 1rem 1rem 0;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}

#search-results.offline #suggestions {
  display: none;
}

#search-results.offline #offline-message {
  display: flex;
}

#suggestions-provider {
  color: #00aac5;
  position: relative;
  padding: 0 2rem 0 1rem;
}

#suggestions-provider::before {
  content: ' ';
  position: absolute;
  bottom: 0.2rem;
  right: .8rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 .8rem .8rem;
  border-color: transparent transparent #00aac5 transparent;
}

#suggestions {
  font-size: 1.6rem;
  overflow-x: hidden;
  margin-right: 1.6rem;
}

#suggestions ul {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
}

#suggestions li {
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.05);
  background-image: url(/style/icons/search.png);
  background-repeat: no-repeat;
  background-position: 0.8rem center;
  text-indent: 4.5rem;
}

#suggestions-select {
  display: none;
}
