#screen.lockscreen-camera > #utility-tray {
  display: none;
}

#utility-tray {
  position: absolute;
  left: 0;
  width: 100%;
  height: -moz-calc(50vw);
  top: -moz-calc(0px - 50vw);
  /* background-color: hsla(0, 0%, 20%, .95); */
  background-color: #00689b;
  margin: 0;

  transform: translateY(0);
}

#utility-tray.visible {
  visibility: visible;
}

#statusbar-tray {
  display: none;
  /* background-image: -moz-element(#statusbar); */
  width: 100%;
  top: 0;
  height: 3rem;
  filter: none;
}

#statusbar-tray > .sb-start-upper {
  position: absolute;
  left: 0;
  line-height: var(--statusbar-height);
  visibility: visible;
}

#ambient-indicator {
  height: .2rem;
  width: 100%;
  opacity: 0;
  background-color: #00D3FF;
  transition: opacity .5s ease .5s;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

#utility-tray.on-edge-gesture {
  top: -100%;
}

#screen:not(.locked) #ambient-indicator.unread {
  opacity: 1;
  visibility: visible;
}

#ambient-indicator.active {
  background: none #006e86 repeat;
  display: block;
  transition: none;
  opacity: 1;
  visibility: visible;
}

#ambient-indicator.active > .handle {
  border-top: 0.2rem #00d3ff solid;
  border-left: 0.2rem transparent solid;
  border-right: 0.2rem transparent solid;
  animation: handle 1s infinite;
  height: 0.2rem;
  width: 8.6rem;
  margin: 0 auto;
  visibility: visible;
}

#ambient-indicator.active > .handle2 {
  animation-delay: 0.5ms;
  margin: -0.4rem auto;
}

.utility-tray #utility-tray {
  visibility: visible;
}

@keyframes handle {
  0%   { transform: scaleX(1.0); opacity: 1;}
  100% { transform: scaleX(4.0); opacity: 0;}
}

#notifications {
  height: calc(100% - 2rem);
  overflow: hidden;
}

#utility-tray-notifications {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#utility-tray-toggles,
#utility-tray-launcher {
  height: 25vw;
  width: 100%;
}

.utility-item {
  float: left;
  height: 100%;
  width: 25%;
  background: no-repeat center / 40px;
}

#utility-tray-toggles .utility-item:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.05);
}

#utility-tray-toggles .utility-item:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.1);
}

#utility-tray-toggles .utility-item:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.15);
}

#toggle-wifi {
  background-image: url(images/wifi_icon.png);
}

#toggle-airplane {
  background-image: url(images/airplane_icon.png);
}

#toggle-bluetooth {
  background-image: url(images/bluetooth_icon.png);
}

#toggle-quiet {
  background-image: url(images/quiet_icon.png);
}

#launch-flashlight {
  background-image: url(images/flashlight_icon.png);
}

#launch-screenlock {
  background-image: url(images/screenlock_icon.png);
}

#launch-camera {
  background-image: url(images/camera_icon.png);
}

#launch-settings {
  background-image: url(images/settings_icon.png);
}

#utility-tray-footer {
  /* background-color: hsla(0, 0%, 100%, .05); */
  background-color: #00689b;
}

#utility-tray > #utility-tray-grippy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin: 0;
  background: #00689b url(images/grippy.png) no-repeat center / 7.2rem;
}

#utility-tray-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(255, 255, 255, .9);
  background-color: white;
  z-index: 16384;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0s linear;
  will-change: opacity;
}

#utility-tray-underlay.visible {
  pointer-events: auto;
}

[data-icon] {
  float: left;
  width: 3rem;
  height: 3rem;
  margin: 1.5rem 0;
}

[data-icon]:before {
  /* The icons should appear 24 x 24px but each glyph only takes 80% of the space
   So we compensate by adding 20%, that is 30px. */
  font-size: 3rem;
  line-height: 3rem;
}

@media (orientation: landscape) {
  #screen.software-button-enabled #utility-tray-notifications {
    width: calc(100%);
  }
}

/* RTL View */

html[dir="rtl"] #statusbar-tray > .sb-start-upper {
  left: unset;
  right: 0
}
