#launcher {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #FAB844;
  background-image: url(background.png);

  overflow-y: scroll;
  transition: opacity 0.3s linear;
}

#launcher::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: var(--statusbar-height);
  background-color: rgba(0, 0, 0, 0.1);
}

#screen.software-button-enabled #launcher {
  height: calc(100% - var(--software-home-button-height));
}

#launcher ul {
  position: absolute;
  top: var(--statusbar-height);
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: transparent;
  transition: background-color .3s ease;

  overflow: hidden;
}

#launcher ul li {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;

  transform: translateY(0);
  transition: transform .3s ease;

  font-size: 2rem;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: -0.025em;
}

#launcher ul li.shake {
  animation: shake 0.2s linear 0s 1 forwards;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-15px); }
  20%, 40%, 60%, 80% { transform: translateX(15px); }
}

#launcher ul li span {
  display: block;
  width: calc(100% - 95px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#launcher ul li img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px 0 10px 10px;
  padding: 15px;

  opacity: 0.9;
}

#launcher ul li.adding img {
  animation: swirl 0.3s ease 0s 1;
}

@keyframes swirl {
  100% { transform: rotate(360deg);}
}

#launcher ul li * {
  pointer-events: none;
}

#launcher ul li.history {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.05);
}

#launcher ul li.action {
  background-color: rgba(0, 0, 0, 0.1);
}

#launcher ul li.history img {
  pointer-events: auto;
}

#launcher ul li.history img.pulse {
  animation: dim 0.2s ease 0s 1;
}

@keyframes dim {
  100% { opacity: 0.5;}
}

#launcher li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';

  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}

#launcher li.pulse::before {
  animation: pulse 0.2s ease 0s 2 alternate;
}

#launcher li.new::before {
  animation: pulse 0.3s ease-out 0s 2 alternate;
}

@keyframes pulse {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

#launcher li.top, #launcher li.bottom {
  will-change: transform;
}

#launcher.expand li.choice {
  background-color: transparent;
}

#launcher.expand li.top {
  transform: translateY(calc(var(--screen-height) * (-1)));
}

#launcher.expand li.bottom {
  transform: translateY(var(--screen-height));
}

#launcher.hide {
  opacity: 0;
  pointer-events: none;
}
