#launcher {
  position: absolute;
  top: var(--statusbar-height);
  width: 100%;
  height: calc(100% - var(--statusbar-height));
  background: linear-gradient(130deg, #00689b, #2f8db9);

  overflow-y: scroll;
  transition: opacity 0.3s linear;
}

#screen.software-button-enabled #launcher {
  height: calc(100% - var(--software-home-button-height));
}

#launcher ul {
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: transparent;
  transition: background-color .3s ease;
}

#launcher ul li {
  position: relative;
  transition: transform .3s ease;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 200;
  font-style: italic;
  line-height: 90px;
}

#launcher ul li img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 25px 15px 25px 25px;

  opacity: 0.9;
}

#launcher ul li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

#launcher ul li * {
  pointer-events: none;
}

#launcher li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';

  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}

#launcher li.pulse::before {
  animation: pulse 0.2s ease 0s 1;
}

@keyframes pulse {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

#launcher.expand li.choice {
  background-color: transparent;
}

#launcher.expand li.top {
  transform: translateY(calc(var(--screen-height) * (-1)));
}

#launcher.expand li.bottom {
  transform: translateY(var(--screen-height));
}

#launcher.hide {
  opacity: 0;
  pointer-events: none;
}
